*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
body{
    padding: 1rem;
}

h1{
    text-transform: uppercase;
    font-style: italic;
    background-color:bisque;
}
h2{
    background-color: wheat;
}
p{
    background-color: chocolate;
}